<h1>You got me!</h1>

<img src="https://coda.newjobs.com/api/imagesproxy/ms/cms/content30/images/jobs-keep-secret.jpg">

<ul>
	<li><a href="/login">Login</a></li>
	<li><a href="/register">Sign Up</a></li>
	<li><a href="/logout">Sign Out</a></li>
</ul>
